body{
    background-color: blue;

}

h1{
    text-decoration: underline;
    text-align: center;
    color: white;

}
p{
    color: white;
    font-style: oblique;

}
h2{
    color: white;
    font-family:Verdana;
    font-style:italic;
}
#funfact{
    font-style: normal;
}